---
layout: default
---
<div class="proyectos">
  <h1 class="page-heading">Artículos</h1>
  <ul class="post-list">
    {% if site.posts.size == 0 %}
      Sin artículos.
    {% else %}
      {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {{ post.excerpt }}
          </li>
      {% endfor %}
    {% endif %}
  </ul>
</div>
