---
layout: default
---
<div class="home">
  <h1 class="page-heading">Proyectos</h1>
  {% if site.pages.size == 0 %}
    Sin proyectos.
  {% else %}
  <ul class="post-list">
  {% for my_page in site.pages %}
    {% if my_page.menu == 'proyectos' %}
    <li>
      <h2>
        <a class="post-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      </h2>
      {{ my_page.description }}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  {% endif %}
  <h1 class="page-heading">Artículos</h1>
  {% if site.posts.size == 0 %}
    Sin artículos.
  {% else %}
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      {{ post.excerpt }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
