---
layout: default
description: Todos los proyectos
---
<div class="proyectos">
  <h1 class="page-heading">Proyectos</h1>
  <ul class="post-list">
    {% if site.pages.size == 0 %}
      Sin proyectos.
    {% else %}
      {% for page in site.pages %}
        {% if page.menu == 'proyectos' %}
        <li>
          <h2>
            <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </h2>
          {{ page.description }}
        </li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
</div>
